 <div class="container-fluid mt-5">
<div id="carouselExampleCaptions" class="carousel slide bg-dark" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active bg-img">
        
      <img src="/images/slide-1.jpg" class="d-block w-100 img-fluid" alt="slider1">
      <div class="carousel-caption first d-none d-md-block slide-shadow">
        <h1>House Grill</h1>
        <p class="fs-3 ">Veni a visitar nuestro grill restaurant, tenemos las mejores carnes</p>
      </div>
      
    </div>
    <div class="carousel-item bg-img">
      <img src="/images/slide-2.jpg" class="d-block w-100 img-fluid" alt="slider2">
      <div class="carousel-caption d-none d-md-block slide-shadow">
        <h2>Mejores productos precio calidad</h2>
        <p class="fs-3 ">consulta en nuestra carta iniciando sesion</p>
      </div>
    </div>
    <div class="carousel-item bg-img">
      <img src="/images/slide-3.jpg" class="d-block w-100 img-fluid" alt="slider3">
      <div class="carousel-caption d-none d-md-block slide-shadow">
        <h2 class="">La mejor atencion al cliente </h2>
        <p class="fs-3 ">sarasa de parrilla ultra requete buena</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>