
  

<div class="container-fluid mt-5 p-5 ">
  <div class="row">
    <div class="col-md-12">
      <div class="container-fluid">
        <h1>
          Bienvenido a House Grill {{usuario}}!

          <h2>Dentro de la plataforma podes ver el catalogo, modificar y mas!</h2>
        </h1>
      </div>
      <div class="row">
        <div class="col-md-6 container shadow-lg mt-5 p-4 overflow-auto">
          <div class="">
            <h2>
              Nuestro catalogo
            </h2>
            <p>
              Nos especializamos en productos de primera calidad y ademas
              estamos posicionados en el mejor lugar bla bla bla bla Lorem ipsum
              dolor sit amet consectetur adipisicing elit. Fugiat, officia id.
              Earum nam suscipit consequatur quam rerum fugit, expedita quaerat
              magni ratione architecto, mollitia sint quasi quis, doloribus
              dicta eveniet? Accusantium maiores dolor quam quos totam aperiam
              eos, repellat eveniet excepturi deserunt aliquam, in dolores, ab
              accusamus error. Quod quos exercitationem sed impedit provident
              eveniet quo fuga laborum nisi officia! Explicabo unde numquam,
              sint voluptatem vitae aspernatur similique, voluptatum sunt itaque
              porro laboriosam cumque dicta nam sapiente ratione ab minus atque

            </p>
            <p>
              <a class="btn btn-primary btn-large" href="crud">Modificar Catalogo</a>
            </p>
             
          </div>
         
        </div>
        <div class="col-md-6 container  shadow mt-5 p-3">
          <img alt="Bootstrap Image Preview" class="img-fluid" src="/images/card-1.jpg" />
        </div>
        
      </div>
    </div>
  </div>

</div>

