<div id="main-wallpaper" class="container-fluid mt-3 d-flex row bg-light">

  <img src="/images/Best-parrillas-en-buenos-aires.jpg " class="col-md-8 img-fluid shadow" alt="parrilla">

  <div class="container col-md-4 shadow  ">

    <img src="/images/logo2.jpg" class="text-center img-fluid" alt="">
    <div class="container text-center">
      <h2>¡Bienvenido a Grill House!</h2>    
      <a href="/contacto" class="nav-link border btn btn-secondary text-white fs-5 mb-3">Contactanos!</a>
      
    </div>

  </div>
</div>
{{>carrousel}}
<div class="container-fluid row justify-content-center mt-4">
  <div class="card shadow  m-4" style="width: 23rem;">
    <img src="/images/card-1.jpg" class="card-img-top" alt="card1">
    <div class="card-body">
      <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa quam, eos architecto corrupti
        excepturi illum minima rerum suscipit. Excepturi deleniti, perferendis porro molestias tempora quia atque nemo
        neque minus. Libero?</p>
    </div>
  </div>
  <div class="card shadow m-4" style="width: 23rem;">
    <img src="/images/card-2.jpg" class="card-img-top" alt="card2">
    <div class="card-body">
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit error consectetur ipsam
        fugit quibusdam perspiciatis culpa reiciendis similique, numquam cum voluptatem excepturi, earum magnam ex
        tempora quaerat voluptate dicta vel.</p>
    </div>
  </div>
  <div class="card shadow m-4" style="width: 23rem;">
    <img src="/images/card-3.jpg" class="card-img-top" alt="card3">
    <div class="card-body">
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi mollitia maxime deleniti
        vel perferendis rerum. Architecto recusandae minus, mollitia molestias qui tenetur vero amet maiores tempora
        vitae distinctio cum totam..</p>

    </div>
  </div>
</div>