<div class="container-fluid">
    <div class="row">
        <div class="col-md-12"> {{!-- Hacemos el html y css de la seccion nosotros --}}

            <div class="row">
                <div class="col-md-6 container  shadow mt-5 p-3">
                    <img src="/images/logo2.jpg" class="shadow img-fluid" alt="logo">
                </div>



                <div class="col-md-6 shadow container shadow-lg  mt-5 p-4 ">
                    <div>
                        <h1>Desde 2020</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ad corrupti quia ipsam,
                            soluta provident repudiandae praesentium optio itaque sequi consectetur sapiente sed impedit
                            a ullam accusantium ipsum mollitia temporibus!
                            Deserunt, dicta aliquam! Sint ullam sapiente qui facere iusto incidunt in rerum, ipsa, culpa
                            assumenda, debitis praesentium possimus. Illum provident ad omnis quos ipsam hic neque non
                            excepturi officiis quibusdam.
                            Obcaecati, atque eveniet, facilis voluptate mollitia illo ipsa repellendus officiis
                            reiciendis illum corrupti non possimus 
                        
                            </p>

                    </div>
                    <div class="container text-center shadow p-2">
                    <img src="/images/img4.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>